* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* así el padding y border no aumentan el tamaño real del elemento */
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #4a2c1c;
  background: #fdf6ee;
}

/*Header with Flexbox (layout)*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px; /* Box Model: internal padding */
  border-bottom: 1px solid #eee2d3; /* Box Model: border */
}

.logo { display: flex; align-items: center; gap: 10px; }
.nav { display: flex; gap: 30px; }
.nav a { text-decoration: none; color: #4a2c1c; }
.search-box { display: flex; border: 1px solid #ccc; border-radius: 20px; padding: 5px 15px; }
.search-box input { border: none; outline: none; background: transparent; }